body {

    main {
        display: flex;
        flex-direction: row;

        #left {
            border: 1px solid black;
            resize: both;
            overflow: auto;
            width: 200px;
            height: 300px;
            margin-right: 1rem;
            padding: 1rem;

            #panel_target_item {
                border: 1px solid black;
                display: flex;
                flex-direction: column;

                padding: .5rem;

                button {
                    width: 70px;
                }

                input, div, button {
                    margin: .2rem 0;
                }
            }

            select {
                margin: .5rem 0;
            }
    
            button {
                cursor: pointer;
                margin: .2rem 0;
            }

            #shadow_panel_setting {
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                padding: .5rem;
                margin: .5rem 0;
            }

            #text, #block {
                border: 1px solid black;
                padding: .5rem;

                #text_color_panel {
                    flex-direction: row;
                    align-items: center;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    input {
                        margin: .2rem 0;
                    }
                }

                button {
                    width: 70px;
                }
            }

            #block {
                margin-top: .5rem;

                #block_color_panel {
                    flex-direction: row;
                    align-items: center;
                }
            }

        }

        #right {
            border: 1px solid black;
            resize: both;
            overflow: auto;
            width: 500px;
            height: 300px;
            padding: .3rem;

            button {
                cursor: pointer;
            }

            div, header, footer, aside {
                cursor: pointer;
            }

            h1, h2, h3, span, p {
                cursor: pointer;
            }
        }

        margin-bottom: 1rem;
    }
    
    aside {
        border: 1px solid black;
        width: 200px;
        resize: both;
        overflow: auto;
    }

}
